.nav{
    background-color: black;
    display: flex;
}
.top-bar{
    background-color: black;
    color: white;
}
.top-bar span{
    padding-left: 50px;
    padding-top: 10px;
}
.nav > li {
    padding: 20px;
    text-transform: uppercase;
    list-style: none;
}
.nav a:hover{
    color:turquoise;
}
.nav a{
    color:white;
    text-decoration: none;
}
.product-container{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.shoe-card{
    text-align: center;
}
.main-card{
    text-align: center;
   height: 280px;
   width: 300px;
}
.cart-btn{
    padding: 10px;
    background-color:turquoise;
    border: none;
    border-radius: 20px;
}

.ratings input[type="radio"]{
    display:none;
}
.star{
    cursor: pointer;
    transition: color 250ms;
}